<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/images/favicon/favicon.ico">

    <title>Food & Nutrition | HealthWeb</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../public/stylesheets/additional.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="../public/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../public/images/favicon-16x16.png" sizes="16x16" />
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
          <a href="index.html" class="navbar-brand pull-left"><img src="../public/images/logo.jpg"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="food.html">Food & Nutrition</a></li>
                <li><a href="housing.html">Housing</a></li>
                <li><a href="family.html">Family Services</a></li>
                <li><a href="immigration.html">Immigration & Legal</a></li>
              </ul>
            </li>
            <li><a href="volunteer.html">Volunteer</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>

<form class="navbar-form navbar-left pull-right hidden-sm hidden-xs" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>

        </div><!--/.nav-collapse -->


      </div>
    </nav>

    <!-- Banner place to change image -->
    <div class="banner" style="background-image: url(../public/images/banner/food3.jpg);">
      <div class="banner_text">Food & Nutrition</div>
    </div>

  <div class="container">
    <div class="sub_text">
        <p class="lead">The link between patients and resources</p>
      </div>
      <hr>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
           <div class="panel panel-default" id="my_table">
          <!-- <table class="table table-responsive table-hover" id="my_table">
    <tbody>
        <tr class="clickable" data-toggle="collapse" id="row1" data-target=".row1">
            <td>data</td>
        </tr>
        <tr class="collapse row1">
            <td>- child row what up I mean it<p>ayy<p>lmao<p>whatup</td>
        </tr>
        <tr class="clickable" data-toggle="collapse" id="row2" data-target=".row2">
            <td>data</td>
        </tr>
        <tr class="collapse row2">
            <td>- child row</td>
        </tr>
    </tbody>
</table>  -->
</div>
</div>
        <div class="col-md-7">
        <input id="pac-input" class="controls" type="text" placeholder="Enter your home address">
        <div id="map-canvas"></div>
</div>
      </div>
    </div><!-- /.container -->


    <footer class="footer">
      <div class="container">
        <p class="footer_text">Place sticky footer content here.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/additional.js"></script>

    <!-- Mapping scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuuz0eL6-alw6zJFuv422uv8DEar98Bsg&callback=initMap"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuuz0eL6-alw6zJFuv422uv8DEar98Bsg&libraries=places"></script>
    
    <script src="../js/mapScript.js"></script>

  </body>
</html>
